<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Address</th>
        </tr>
        <% for(let i=0; i<data.length; i++) {%>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>