.home-header-container {
    height: 60px;
    width: 100%;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0 20px;

        .left-content {
            width: 25%;
            border: 1px solid green;
            display: flex;
            align-items: center;

            .header-logo {
                height: 60px;
                width: 40%;
                background: url('../../assets/LOGO.svg') center center no-repeat;
                background-size: contain;
                /* Ensures the entire image fits within the div */
                cursor: pointer;
            }


            .fa-bars {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }

        }

        .center-content {
            width: 50%;
            border: 1px solid blue;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-content {
                padding: 0 10px;

                .subtitle {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            border: 1px solid orange;
            display: flex;
            align-items: center;
            justify-content: center;
            .support{
                i{
                    font-size: 18px;
                }
            }
        }
    }
}